/* Estilo para tablet */
@media only screen and (min-width: 788px) and (max-width: 979px) {
  /* qualidade home */
  .qualidade::after {
    right: 66px;
  }

  .qualidade_lista li {
    padding: 0 10px;
  }

  /* footer  */

  .footer_redes ul li a {
    border: 3px solid #fec63c;
    display: block;
    padding: 6px;
  }

  .footer_redes ul li a img {
    height: 26px;
    width: 26px;
  }

  /* produtos  */

  .produto_item h2 {
    top: -150px;
    margin-bottom: -56px;
  }

  .produto_icone {
    background: black;
    padding: 41px 0;
  }

  .produto_info p {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 30px;
    height: 122px;
  }

  .produto_info ul li {
    width: 181px;
    height: 49px;
  }
}

/* estilo para smartphone */
@media only screen and (max-width: 787px) {
  .header {
    position: relative;
    padding-bottom: 0;
  }

  .header img {
    margin: 0 auto 10px auto;
  }

  .herader_menu {
    text-align: center;
  }

  .header_menu ul li {
    margin: 5px;
  }

  .header_menu ul li a {
    text-align: center;
    border: 4px solid black;
    width: 136px;
    display: block;
    float: left;
  }

  .header_menu ul li a:hover {
    border-color: white;
  }

  .header_menu ul li a.menu_ativo {
    border-color: #fff;
  }

  /* Indrodução */

  .introducao {
    margin-top: 0;
    padding-top: 55px;
  }

  .introducao h1 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
  }

  /* introducao-interna */

  .introducao-interna {
    margin-top: 0px;
  }

  /* call  */

  .call {
    padding-top: 10px;
  }

  /* qualidade  */

  .qualidade::after {
    display: none;
  }

  /* sobre  */

  .missao_sobre p {
    padding-right: 0px;
    font-size: 14px;
    line-height: 20px;
  }

  .missao_sobre ul li {
    font-size: 14px;
    line-height: 25px;
  }

  .foto-equipe {
    padding-top: 40px;
  }

  /* produtos  */

  .produto_item h2 {
    top: -100px;
    margin-bottom: -68px;
  }

  .produto_icone {
    background: black;
    padding: 41px 0;
  }

  .produto_info p {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 30px;
    height: auto;
  }

  .produto_info ul li {
    width: 149bpx;
    height: 49px;
    font-size: 14px;
    line-height: 20px;
    padding-top: 14px;
  }

  .form {
    padding-right: 0;
  }

  /* contato  */

  .contato_form {
    padding-right: 0px;
    margin-bottom: 40px;
  }
}
