/* Estilos gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: block;
}

.btn {
  border: 3px solid #fec63c;
  padding: 10px 20px;
  color: #fec63c;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.btn:hover {
  color: white;
  border-color: white;
}

.btn-preto:hover {
  color: #000;
  border-color: #000;
}

.subtitulo {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.subtitulo::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px auto;
}

.subtitulo-interno {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subtitulo-interno::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px 0;
}

/* header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fec63c;
  padding: 15px 0;
  z-index: 10;
}

.header_menu {
  text-align: right;
}
.header_menu ul {
  margin-top: 23px;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
}

.header_menu ul li a {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 20px;
  padding: 10px 0;
}

.header_menu ul li a:hover {
  color: white;
}

.header_menu ul li a.menu_ativo {
  color: #fff;
}
/* introdução */

.introducao {
  width: 100%;
  height: 380px;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding-top: 77px;
  color: #fff;
}

.introducao h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-externo {
  max-width: 320px;
  margin: 0 auto 40px;
}

.quote-externo p {
  font-style: italic;
}

.quote-externo p:before,
.quote-externo p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 15px auto;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
}

/* introducao interna */

.introducao-interna {
  width: 100%;
  height: 160px;
  margin-top: 92px;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 38px;
}

.introducao-interna h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.introducao-interna h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 10px auto;
}

/* produtos */

.produtos {
  padding: 60px 0;
}

.produtos_lista li {
  background: #fec63c;
  text-align: center;
}

.produtos_lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 15px;
}
.produtos_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 10px auto;
}

.produtos_lista li p {
  padding: 10px 20px 20px 20px;
}

.produtos_icone {
  background: #000;
  padding: 20px;
}

.call {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.call p {
  margin-bottom: 20px;
}

/* portfolio */

.portfolio {
  width: 100%;
  background: black;
  padding: 40px 0;
}

.portfolio .subtitulo {
  color: #fec63c;
}

.portfolio .subtitulo::after {
  background: #fec63c;
}

.portfolio_lista li:last-child {
  margin-top: 20px;
}

.portfolio .call p {
  color: white;
}

/* qualidade */

.qualidade {
  padding: 60px 0;
}

.qualidade::after {
  content: "";
  width: 634px;
  height: 83px;
  display: block;
  background: url(../img/linhas.svg) no-repeat center;
  position: absolute;
  top: 209px;
  right: 162px;
}

.qualidade img {
  margin: 0 auto;
}

.qualidade_lista {
  overflow: auto; /* clear-fix */
}

.qualidade_lista li {
  text-align: center;
  padding: 0 40px;
}

.qualidade_lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 40px;
}
.qualidade_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 6px auto;
  z-index: -1;
}

/* quebra */

.quebra {
  width: 100%;
  height: 220px;
  background: url(../img/bg-footer.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  color: white;
}

.quebra .quote-externo {
  max-width: 400px;
  padding-top: 40px;
}

/* footer */

.footer {
  width: 100%;
  background: black;
  color: white;
  padding: 20px 0;
}

.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: #fec63c;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63c;
  margin: 6px 0 12px 0;
}

.footer_historia {
  padding-right: 40px;
}

footer_contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", serif;
}

.footer_redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer_redes ul li a {
  border: 3px solid #fec63c;
  display: block;
  padding: 10px;
}

.footer_redes ul li a:hover {
  border-color: #fff;
}

.copy {
  width: 100%;
  height: 60px;
  background: #fec63c;
  padding: 20px 0;
}

.copy p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
